// Styles pour la page principale

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    padding: 2rem;
}

a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
}
